.fade {
  &-enter {
    opacity: 0;
  }
  &-entering,
  &-exiting {
    transition: all 300ms;
  }
  &-exiting {
    opacity: 0;
  }
}

.fade-left {
  &-enter {
    opacity: 0;
    transform: translate(-100%);
  }
  &-entering,
  &-exiting {
    transition: all 300ms;
  }
  &-exiting {
    opacity: 0;
    transform: translate(-100%);
  }
}

.switch-ani {
  &-enter {
    opacity: 0;
    transform: translate(100%);
  }
  &-entering,
  &-exiting {
    transition: all 300ms;
  }
  &-exiting {
    opacity: 0;
    transform: translate(-100%);
  }
}
